<%- include("../includes/header.ejs", {title:"Route - Choose"}); %>

<h1>Choose Route</h1>
<form action="/route/check" method="get">
    Enter Route ID: <input id="route_id" name="route_id" type="number"/>
    <br />

    <input type="submit" value="submit"/>

</form>


<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>