<%- include("../includes/header.ejs", {title:"Route - Choose"}); %>

<h1>Trains on Route</h1>

<br />

<table border="1">
    <tr><th>Train ID</th><th>Train Type</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].train_id %></td>
        <td><%= result[i].train_type %></td>
    </tr>
    <% } %>
</table>



<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>