<!DOCTYPE html>
<html>
<head>

<!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Bootstrap Multiselect JavaScript Library and CSS -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

<style>
    div.container {
        width: 100%;
        padding:0;
        border: 1px solid black;
    }

    header, footer {
        padding: .5em;
        color: darkcyan;
        background-color: lightcyan;
        text-align: center;
    }

    nav {
        float: left;
        max-width: 170px;
        margin: 0;
        padding: 1em;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav ul a {
        text-decoration: none;
    }

    nav2 {
        float: right;
        max-width: 250px;
        margin: 0;
        padding: 1em;
    }

    nav2 ul {
        list-style-type: none;
        padding: 0;
    }

    nav2 ul a {
        text-decoration: none;
    }

    article {
        color: darkcyan;
        margin-left: 170px;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        padding: 3em;
        overflow: hidden;
    }

</style>

</head>
<body>

<div class="container">

    <header>
        <h1> Flora City Railway System </h1>
    </header>

    <nav>
        <ul>
            <p><a href="/">Home</a></p>

            <p><a href="/about/about">About</a></p>

            <p><a href="/station/all">Stations - View All</a></p>

            <p><a href="/passenger/forgotID">Forgot passenger id?</a></p>




        </ul>
    </nav>

    <nav2>
        <ul>
            <p><a href="/passenger/buy">BUY TICKETS!</a></p>
        </ul>
    </nav2>
    <article>


