<%- include("./includes/header.ejs", {title: title}); %>

<h3>Welcome to Flora City Railway System!</h3>
    <br>

    <a href="/station/all">Station Info</a>
    <br>


    <a href="/images/flora.jpg"> Stations Map</a>

    <br>
    <a href="/passenger/register">Register a new passenger</a>
    <br>

<%- include("./includes/footer.ejs"); %>
