<%- include("../includes/header.ejs", {title:"Route - Choose"}); %>

<h1>Busy Stations</h1>
<br />

<table border="1">
    <tr><th>Station Name</th><th>Number of Passengers</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].station_name %></td>
        <td><%= result[i].pass_count %></td>
    </tr>
    <% } %>
</table>



<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>