<%- include("../includes/header.ejs", {title:"Route - Choose"}); %>

<form action="/station/busy" method="get">
    Enter Number of Passengers To Compare : <input id="num_pass" name="num_pass" type="number"/>
    <br />

    <input type="submit" value="submit"/>

</form>


<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>