<%- include("../includes/header.ejs", {title:"Station - View All"}); %>

<h1><%=station.station_name%> Station</h1>
<br />

<table border="1">
    <tr><th>Incoming Times</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].incoming_time %></td>
    </tr>
    <% } %>
</table>
<a href="/station/all"><< back</a>

<%- include("../includes/footer.ejs"); %>