<%- include("../includes/header.ejs", {title:"Station - View All"}); %>

<h1>Stations</h1>
Click on a station to view all incoming train times
<br />

<table border="1">
    <tr><th>Station Name</th><th>street</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/station/?station_id=<%= result[i].station_id %>"><%= result[i].station_name %></a></td>
        <td><%= result[i].street %></td>
    </tr>
    <% } %>
</table>
<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>