<%- include("../includes/header.ejs", {title: "About Us"}); %>

<h1>About Flora City Railway System</h1>
<br>
We provide the most efficient transportation in Flora City. With multiple routes and trains you won't have to wait long.
<br>
<br>

<a href="/images/ER DIAGRAM.png"> ER Diagram</a>

<br>

<a href="/images/Schema.png"> Relational Schema</a>



<%- include("../includes/footer.ejs"); %>
