<%- include("../includes/header.ejs", {title:"Passenger - Forgot ID"}); %>

<h1>Enter in First and Last Name to get passenger id</h1>
<form action="/passenger/getID" method="get">
    First Name: <input id="first_name" name="first_name" type="text"/>
    <br />
    Last Name: <input id="last_name" name="last_name" type="text"/>
    <br />

    <input type="submit" value="submit"/>

</form>


<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>