<%- include("../includes/header.ejs", {title:"Passenger - Register"}); %>

<h1>Register Passenger</h1>
<form action="/passenger/create" method="get">
    First Name: <input id="first_name" name="first_name" type="text"/>
    <br />
    Last Name: <input id="last_name" name="last_name" type="text"/>
    <br />

    <input type="submit" value="submit"/>

</form>


<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>