<%- include("../includes/header.ejs", {title:"Passenger - Register"}); %>

<h1>Buy Ticket</h1>
<form action="/passenger/ticket" method="get">
    Passenger ID: <input id="passenger_id" name="passenger_id" type="number"/>
    <br />
    Number of Stops: <input id="num_stops" name="num_stops" type="number"/>
    <br />

    Departing Station:
    <select id="station_id" name="station_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].station_id %>"  ><%= result[i].station_name %></option>
        <% } %>
    </select>
    <br />

    <input type="submit" value="submit"/>

</form>



<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>