<%- include("../includes/header.ejs", {title:"Passenger - Register"}); %>

<h1>Successfully registered user</h1>
<br>
<h2>Your Passenger ID is <%=result %></h2>
<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>