<%- include("../includes/header.ejs", {title:"Ticket Success"}); %>

<h1>Successfully purchased ticket for <%=result.first_name%> <%=result.last_name%></h1>
<h2>Ticket Price: $<%=result.price%></h2>

<br>

<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>